
@{ 
    Layout = "~/Views/Shared/_UserRole.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/Moving.css" rel="stylesheet" type="text/css" />

<body style="background: url('/fonts/carw.jpg')">
   
    <div style="background:transparent !important" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background:transparent !important" color="white" class="jumbotron">
        <div class="contenedor">
            <h1 style="color: white">Bienvenido a Elite CarWash.</h1>
        </div>
    </div>
    <div style="background:transparent !important; color: white;" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background:transparent !important; color: white;" class="jumbotron">
        <div class="contenedor">
        </div>
    </div>
    <div style="background-color: transparent;" class="container"></div>

</body>

