@model CarWah.Models.Marca
@{
    Layout = null;
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/Elite/css/login.css" rel="stylesheet" />
<link href="~/Content/Elite/css/util.css" rel="stylesheet" />
<link href="~/Content/Elite/css/main.css" rel="stylesheet" />


<h3>Esta seguro de eliminar este articulo?</h3>

<div class="login">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
        <h4><i class="fa fa-circle-o"></i>  Marca</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                @Html.ActionLink("Ir a la lista", "Index")
            </div>
        }
    </div>
</div>